<header>
    <div class="header bg-dark text-white">
        <div class="container-fluid">
            <div class="header__container d-flex">
                <a href="#" class="header__logo">
                    Logo
                </a>
                <div class="searchbar">
                    <button class="mob-menu-toggler me-2 d-md-none">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="searchbar__container position-relative">
                        <input type="text" class="searchbar__input" placeholder="Search products,brands and more">
                        <button class="searchbar__button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="header__tools">
                    <button routerLink="/sign-in" class="button-toolbar">
                        <i class="bi bi-person-circle"></i>
                    </button>
                    <button class="button-toolbar">
                        <div class="position-relative">
                            <i class="bi bi-bag"></i>
                            <span class="cart-counter">4</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu d-none d-md-block">
        <div class="container-fluid">
            <ul class="menu">
                <li class="menu__item">
                    <a href="#">Menu</a>
                </li>
                <li class="menu__item">
                    <a href="#">Menu</a>
                </li>
                <li class="menu__item">
                    <a href="#">Menu</a>
                </li>
                <li class="menu__item">
                    <a href="#">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</header>