<div class="position-relative bg-light w-100 min-vh-100">
    <div class="column-row min-vh-100">
        <div class="column-row__left">

            <div class="auth-wrapper">
                <div class="auth-wrapper__container">
                    <div class="auth-wrapper__title text-dark">
                        Create an account
                    </div>
                    <form [formGroup]="formSignup">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" id="nameInput" formControlName="user_name"
                                class="form-control rounded-1">
                        </div>

                        <div class="mb-3">
                            <label for="emailInput">Email</label>
                            <input type="text" id="emailInput" formControlName="user_email"
                                class="form-control rounded-1">
                        </div>

                        <div class="mb-3">
                            <label for="passwordInput">Password</label>
                            <input type="text" id="passwordInput" formControlName="user_password"
                                class="form-control rounded-1">
                        </div>

                        <div class="mb-3">
                            <label for="passwordInput">Confirm Password</label>
                            <input type="text" id="passwordInput" formControlName="user_confirm_password"
                                class="form-control rounded-1">
                        </div>

                        <div class="d-block mb-3">
                            <button (click)="signUp()" class="btn btn-dark btn-lg w-100 rounded-1">Create
                                Account</button>
                        </div>
                        <div>
                            <span class="text-muted">
                                Already have an account?
                            </span>
                            <a href="#" routerLink="/sign-in" class="text-primary">
                                Sign in
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>